.doubled-section-parent {
  display: inline-block;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  left: -350px;
  max-width: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #eee;
  -webkit-transition: left .18s;
  transition: left .18s;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding-top: 35px;

  .accordion-section-content {
    padding: 10px 20px 15px 20px;
  }

  .epsilon-close-doubled-section {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    background: #eee;
    border: none;
    width: 45px;
    height: 45px;
    border-top: 4px solid #eee;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #DDD;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    &:before {
      font: 400 22px/45px dashicons;
      content: "\f335";
      position: relative;
      top: -3px;
      display: block;
    }
    &:hover {
      background: #fff;
      border-top-color: #0073aa;
      border-left-color: #ddd;
      color: #0073aa;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all .2s;
      transition: all .2s;
    }
  }
}

body.adding-doubled-section {
  .wp-full-overlay-main {
    left: 350px;
  }

  .doubled-section-parent {
    left: 0;
  }
}


.customize-pane-child.control-section-epsilon-section-doubled {
  &.doubled-section-opened {
    display: inline-block;
    max-width: 350px;
    width: 100%;
    box-sizing: border-box;
    background: #eee;
  }

  .customize-section-title {
    margin: -1px -24px 0;
    padding: 5px 0;
    border-top: 1px solid #ddd;
    h3 {
      font-weight: 200;
      font-size: 20px;
      padding: 10px 10px 11px 14px;
    }
    .customize-action {
      font-size: 13px;
      display: block;
      font-weight: 400;
    }
  }
}
