.epsilon-button-control-group {
	display: inline-block;
	line-height: 20px;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
	top: 4px;
	height: 100%;
	opacity: .15;

	&:hover {
		opacity: 1;
	}


	.epsilon-control-button {
		background-color: $repeater_row_text_hover_color;
		color: #fff;
		padding: 0 3px;

		&.epsilon-control-button-edit {
			background: $repeater_row_text_hover_color;
			border-right: none;

			&:hover {
				background: #6F5499;
				color:#fff;
			}
		}

		&.epsilon-control-button-delete {
			background: #F86046;
			border-left: none;

			&:hover {
				background: #F83921;
				color:#fff;
			}
		}
	}
}


.epsilon-control-highlight {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(14, 133, 184);
	background-color: rgba(14, 133, 184, 0.02);
	opacity: 0.3;
}