.epsilon-button-control-group {
	background: #0085ba;
	border-radius: 30px;
	display: inline-block;
	position: absolute;
	left: 50%;
	bottom: 100%;
	margin-bottom: 5px;
	transform: translateX(-50%);
	z-index: 100;
	box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.15);
	animation: appear 0.8s cubic-bezier(1,.05,0,1.36);

	a {
		transition: all 0.2s ease-in-out;
		position: relative;
		display: inline-block;

		&:last-of-type {
			border-top-right-radius: inherit;
			border-bottom-right-radius: inherit;
			padding-right: 12px;
		}

		&:first-of-type {
			padding-left: 12px;
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
		}

	 	&:hover,
		&:focus {
			background: #046d9d;
			box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.2);

			&.epsilon-field-repeater-delete-item {
				background-color: #f86046;
			}
		}
	}

	.dashicons {
		font-size: 18px;
		padding: 8px 5px;
		transition: all 0.2s ease-in-out;
		color: #fff;
		position: relative;
	}

	a:hover .dashicons {
		padding: 8px 8px;
	}

	a:active .dashicons{
		top: 1px;
	}
}


.epsilon-control-highlight {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(14, 133, 184);
	background-color: rgba(14, 133, 184, 0.02);
	opacity: 0.3;
	box-shadow: 0px 0px 30px 0px rgba(35, 31, 32, 0.1);
}