.epsilon-framework-notice {
	&.epsilon-big {
		background: #e9eff3;
		border: 10px solid #fff;
		color: #608299;
		padding: 30px 10px;
		text-align: center;
		box-shadow: none;
		&:after,
		&:before {
			content: "";
			display: table
		}
		&:after {
			clear: both
		}
	}
}

.epsilon-framework-notice--dark.epsilon-big {
	background: #23272b;
	color: #8f8f8f;

	h1 {
		color: #b9b9b9;
	}
}

.epsilon-builder {
	margin-top: 20px;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	height: 300px;
	width: 100%;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	position: relative;

	.epsilon-go-to-link {
		max-width: 260px;
		text-align: center;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.epsilon_builder_link a {
	color: #6F5499;
	font-weight: 600;
	text-decoration: none;
}