/* Variables */

//
// Row
$repeater_row_shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
$repeater_row_background: #fff;
$repeater_row_background_hover: #f3f3f5;
$repeater_row_text_color: #555; // row label
$repeater_row_text_hidden_color: #c5c8cc; // row label while section hidden
$repeater_row_text_hover_color: #3C2166; //  row label hover
$repeater_row_separator_color: #ddd;
//
// Row Nav
$repeater_row_nav_tab_hover: #6F5499;
$repeater_row_nav_tab_border: #ddd;
//
// Repeater Field Text
$repeat_field_text_border_radius: 4px;
$repeat_field_text_border: #ddd;
$repeat_field_text_shadow: 0 0 4px rgba(0, 0, 0, 0.06);
$repeat_field_text_inner_shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
//
// Repeater Select
$repeat_field_dropdown_border_radius: 4px;
$repeat_field_dropdown_border: #ddd;
$repeat_field_dropdown_shadow: 0 0 4px rgba(0, 0, 0, 0.06);
$repeat_field_dropdown_inner_shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
//
// Repeater Icon picker
$repeat_field_icon_picker_inner_shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

/* Start Controls */
@import "scss/misc/quickie-bar.scss";
@import "scss/controls/upsell";
@import "scss/controls/slider";
@import "scss/controls/toggle";
@import "scss/controls/tooltip";
@import "scss/controls/color-picker";
@import "scss/controls/color-schemes";
@import "scss/controls/typography";
@import "scss/controls/layouts";
@import "scss/controls/field-repeater";
@import "scss/controls/section-repeater-control";
@import "scss/controls/image";
@import "scss/controls/icon-picker";
@import "scss/controls/customizer-navigation";
@import "scss/controls/repeater-field-selectize.scss";
@import "scss/controls/image-dimensions";

/* Start Sections */
@import "scss/sections/pro-section";
@import "scss/sections/recommended-actions";
@import "scss/sections/section-doubled";

/* Start Previewer CSS */
@import "scss/misc/quick-edit-item.scss";
@import "scss/misc/quick-edit-section.scss";

.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent,
#customize-theme-controls .customize-pane-child.current-section-parent {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

#customize-theme-controls .customize-pane-child.accordion-section-content,
#customize-theme-controls .customize-pane-child.accordion-sub-container {
	overflow: hidden !important;
}

.epsilon-hidden {
	opacity: 0;
	visibility: hidden;
	display: none !important;
}

/* debug blocks */

.epsilon-control-container {
	background: #cce6ff;
}

.epsilon-control-set-advanced {
	background: #8f9cb2;
}

.epsilon-control-set-dropdown {
	background: #b8a1c9;
}

.epsilon-control-container label {
	background: #e0cb99;
}

.epsilon-control-container,
.epsilon-control-set-advanced,
.epsilon-control-set-dropdown,
.epsilon-control-container label {
	background: transparent;
}

.epsilon-control-container {}

.epsilon-control-container label {
	line-height: 20px;
	display: block;
	margin-bottom: 5px;
}

.epsilon-control-dropdown,
.epsilon-control-advanced {
	background-color: #fefefe;
	border: solid 1px rgba(219, 219, 219, .9);
	width: 32px;
	height: 32px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.epsilon-control-advanced i,
.epsilon-control-dropdown i {
	display: block;
	margin: 7px auto 0 auto;
}

.epsilon-control-advanced {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	border-radius: 3px;
	&.active,
	&:hover {
		color: #57a7c9;
	}
}

.epsilon-control-dropdown {
	border-left: none;
	width: 34px;
	border-radius: 0 3px 3px 0;
}

.epsilon-control-field {
	padding-left: 10px;
	background: #fefefe;
	height: 35px;
	position: relative;
	overflow: hidden;
	border-radius: 3px 0 0 3px;
	border: solid 1px rgba(219, 219, 219, .9);
	line-height: 35px;
	box-sizing: border-box;
}

.epsilon-control-set-advanced .epsilon-control-field {
	border-radius: 3px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	border-radius: 3px;
}

.epsilon-control-field a {
	text-decoration: none;
	color: #555;
}

.epsilon-control-set,
.epsilon-control-set-advanced,
.epsilon-control-set-dropdown {
	height: 35px;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

.epsilon-control-set-advanced.epsilon-group-two {
	padding-right: 111px;
}

.epsilon-control-set-advanced.epsilon-group-two .epsilon-control-group {
	position: absolute;
	top: 0;
	right: 38px;
	width: 70px;
	height: 35px;
}

.epsilon-control-set-advanced {
	padding-right: 38px;
}

.epsilon-control-set-dropdown {
	padding-right: 35px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
}

.epsilon-control-group {
	width: 100%;
	height: 33px;
	background: #fefefe;
	border-radius: 3px;
	line-height: 35px;
	cursor: pointer;
	box-sizing: border-box;
	border: solid 1px rgba(219, 219, 219, .9);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	box-shadow: 0 0 4px rgba(0, 0, 0, .06);
	height: 35px;
}

.epsilon-control-group a {
	float: left;
	height: 33px;
	background: rgba(150, 180, 150, 0);
	text-align: center;
	text-decoration: none;
}

.epsilon-control-group a.active {
	background-color: #fefefe;
	-webkit-box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
}

.epsilon-control-group i {
	margin-top: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.epsilon-control-group a:nth-child(odd) {
	background: rgba(150, 180, 150, 0);
}

.epsilon-control-group.epsilon-group-four a {
	width: 25%;
}

.epsilon-control-group.epsilon-group-three a {
	width: 33.333333%;
}

.epsilon-control-group.epsilon-group-two a {
	width: 50%;
}

.hidden-section-panel {
	opacity: .5;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1231;
		display: block;
		content: '';
	}
}

.customize-control-epsilon-separator {
	&.first-child {
		margin-top: 0;
	}
	margin-top: 30px;
}

/*
	Controls Spacing Debug
*/

.repeater-row-content {}

.repeater-field {
	padding: 10px 0 10px 0;
	margin: 0;
	&:first-child {
		padding-top: 10px;
	}
	&.repeater-field-epsilon-text-editor {
		padding-top: 10px;
	}
	select {
		display: block;
		margin: 0;
		line-height: 35px;
		height: 35px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: $repeat_field_dropdown_border_radius;
		border-color: $repeat_field_dropdown_border;
		box-shadow: $repeat_field_dropdown_inner_shadow;
	}
	&.repeater-field- {
		display: none;
	}
}

.customize-control-title {
	min-height: 20px;
	line-height: 20px;
	display: block;
	margin-bottom: 6px;
	font-weight: normal;
}

.selectize-input {
	border: 1px solid $repeat_field_dropdown_border;
	box-shadow: $repeat_field_dropdown_inner_shadow;
}

.selectize-dropdown {
	z-index: 20;
}

.repeater-field {
	.tmce-active {

		iframe {
			min-height: 150px;
		}
	}
}

/* Debug Colors */

$debug-field-background-even: rgba(0, 135, 255, 0.3) !default;
$debug-field-background-odd: rgba(0, 135, 255, 0.1) !default;
$debug-field-title-background: rgba(255, 165, 0, 0.4) !default;

/*
.customize-control:nth-child(even),
.repeater-field:nth-child(even) {
    background: $debug-field-background-even !important;
}

.customize-control:nth-child(odd),
.repeater-field:nth-child(odd) {
    background: $debug-field-background-odd !important;
}

.customize-control-title,
.repeater-field-epsilon-slider .slider-container,
.epsilon-controller-image-container .actions {
    background: $debug-field-title-background !important;
}

.repeater-minimize,
.repeater-row-remove,
.repeater-row-hide {
    background: $debug-field-title-background;
}
*/


body .customize-panel-back:focus,
body .customize-panel-back:hover,
body .customize-section-back:hover,
body .customize-section-back:focus,
body #customize-controls .control-section .accordion-section-title:focus,
body #customize-controls .control-section .accordion-section-title:hover,
body #customize-controls .control-section.open .accordion-section-title,
body #customize-controls .control-section:hover > .accordion-section-title {
	border-left-color: #090033;
	color: #090033;
}