.epsilon-color-scheme-palette {
  cursor: pointer;
  padding: 2px;
  display: inline-block;
  border: 1px solid transparent;
  span{
    height: 20px;
    width: 25px;
    float: left;
  }
}

.epsilon-color-scheme-palette:hover,
.epsilon-color-scheme-palette:focus,
.epsilon-color-scheme-option.selected > .epsilon-color-scheme-palette {
  border: 1px solid #55AAD3;
}

.epsilon-color-scheme-name {
  display: inline-block;
  float: left;
  margin-right: 15px;
  min-width: 75px;
}