.repeater-field-epsilon-margins-paddings {
	&:after {
		clear: both;
		display: table;
		content: '';
	}

}

.epsilon-margin-paddings {

	.epsilon-additional-controls {
		text-align: right;

		a {
			font-size: 10px;
			text-decoration: none;
			color: #6d7882;
			opacity: .8;

			&.selected {
				text-decoration: underline;
				opacity: 1;
			}
		}

	}

	.epsilon-control-group {
		border: 0;
		box-shadow: none;
		height: auto;
	}

	.epsilon-spacing-section {
		float: left;
		width: 22%;
		clear: none;
		text-align: center;
		line-height: 1;

		input[type="number"] {
			border-color: #ddd;
			border-width: 1px 0 1px 1px;
			height: 28px;
			line-height: 18px;
			width: 100%;
		}

		.description {
			font-size: 8px;
			text-transform: uppercase;
			font-weight: bold;
			font-style: normal;
			opacity: 0.7;
			color: #555d66;
		}

		.epsilon-equalizer {
			width: 100%;
		    height: 26px;
		    display: block;
		    border: 1px solid #ddd;
		    box-shadow: none;

		    &:focus {
		    	box-shadow: none;
		    }

		    .dashicons {
		    	border: 0 none;
    			background: transparent;
    			line-height: 28px;
		    }

		    &.active {
		    	box-shadow: none;
		    	.dashicons {
		    		box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
   					 -webkit-box-shadow: inset 0 3px 0px #57a7c9, inset 2px 0px 5px 0px rgba(0, 0, 0, 0.05), inset -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
		    	}
		    }
		}

	}

	.epsilon-link-spacing-section {
		width: 12%;

		a {
			text-decoration: none;
		}

		.dashicons {
			line-height: 26px;
			display: block;
			height: 26px;
			width: 100%;
			background: #fff;
			color: #a4afb7;
			border-width: 1px;
			border-color: #ddd;
			border-style: solid;
			font-size: 14px;
		}
	}
}