.epsilon-controller-image-container {

	.placeholder {
		width: 100%;
		position: relative;
		text-align: center;
		cursor: pointer;
		border: 1px dashed #a2aab2;
		box-sizing: border-box;
		padding: 8px 0;
		line-height: 20px;
		min-height: 40px;
		margin-bottom: 1em;
		background-color: #edeff0;
		color: #000;
		transition: all .1s ease-out;

		&:hover {
			background-color: #f8f9f9;
		}

		.recommended-size {
			display: block;
		}
	}

	.epsilon-image {
		margin-bottom: 1em;
		min-height: 40px;
		cursor: pointer;

		img {
			width: 100%;
			display: block;
		}
	}

	.actions {
		text-align: center;
		padding-bottom: 10px;
	 	display: flex;
		justify-content: space-between;
	}

}