.slider-container {
  position: relative;
  padding-left: 40px;
  input[type="text"] {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 42px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 2px;
  }
  .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    width: 97%;
    background: #d6d6d6;
    .ui-slider-handle {
      position: absolute;
      z-index: 2;
      top: -10px;
      cursor: default;
      -ms-touch-action: none;
      touch-action: none;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      border: solid 1px #d7d7d7;
      transform: translateX(-50%);
    }
    .ui-slider-range {
      position: absolute;
      z-index: 1;
      font-size: 0.7em;
      display: block;
      border: 0;
      background-position: 0 0;
      background: #E04D43;
      top: 0;
      bottom: 0;
    }
  }
}

.widget-content {
  label.block {
    display: block;
    margin-bottom: 10px;
  }

  input.rl-slider {
    border: none;
    text-align: center;
    padding: 2px;
    margin: 0 0 15px;
    font-size: 12px;
    color: #333;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 42px;
    height: 22px;
    cursor: pointer;
  }

  .ui-slider {
    position: relative;
    text-align: left;
    height: 2px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    display: inline-block;
    width: 175px;
    float: right;
    background: #d6d6d6;
    .ui-slider-range {
      position: absolute;
      z-index: 1;
      font-size: 0.7em;
      display: block;
      border: 0;
      background-position: 0 0;
      background: #E04D43;
      top: 0;
      bottom: 0;
    }
    .ui-slider-handle {
      position: absolute;
      z-index: 2;
      top: -10px;
      cursor: default;
      -ms-touch-action: none;
      touch-action: none;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      border: solid 1px #d7d7d7;
      transform: translateX(-50%);
    }
  }
}

.slider-container .ui-slider:hover,
.widget-content, ui-slider:hover {
  cursor: pointer;
}
