.repeater-field-epsilon-upsell {
	background-color: #fafafa;
	border: 1px dashed #ddd;
	padding: 10px;
	margin: 15px auto !important;
}

.epsilon-upsell-label {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	display: block;
}

.epsilon-upsell-container {
	background: transparent;
	padding: 10px;

	span.wp-ui-notification {
		padding: 2px 8px;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		border-radius: 5px;
		margin-right: 5px;
		display: inline-block;
	}

	.epsilon-button-group {
		position: relative;
		width: 100%;
		display: inline-block;
		box-sizing: border-box;
		.button {
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			width: 50%;
			float: left;
			padding: 3px 0;
			height: initial;
			&:first-of-type {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&:last-of-type {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		.button-separator {
			text-align: center;
			display: inline-block;
			width: 40px;
			height: 20px;
			line-height: 19px;
			position: absolute;
			border-radius: 50px;
			color: #fff;
			background: #333;
			left: 50%;
			top: 50%;
			font-size: 12px;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
}

.epsilon-upsell-options {
	li {
		margin-bottom: 0;
		display: inline-block;
		width: 100%;
		font-size: 12px;
		color: #8b9096;
		&:last-of-type {
			margin-bottom: 20px;
		}
	}
}

.customize-control-epsilon-upsell {
	background-color: #fafafa;
	border: 1px dashed #ddd;
	padding-top: 10px;

	.epsilon-upsell-label {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		display: block;
	}

	.mte-tooltip {
		left: 0;
	}
}
